.rent-filter-wraper{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    width: 90%;
    padding: 5px 10px 5px 10px;  
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px; 
    row-gap: 10px;
    justify-content: center;
}

.rent-input-filter input{
    border:1px solid #888888;
    outline: none;
    padding:10px;
    border-radius: 4px;
}

.filters-buttons-wraper{
    display: flex;
    justify-content: center ;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}